.movie-card img {
  width: 250px;
  height: auto;
}

.movie-card ul {
  list-style: none;
  padding: 0px;
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card li {
  list-style: none;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buy-button {
  width: 40%;
  background-color: #fb8500 !important;
  color: white !important;
}

.movie-card {
  margin-top: 50px;
}
